.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.keyboard {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.key {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  margin: 0 5px;
  font-size: 18px;
}

.key.active {
  background-color: #f0f0f0;
}

textarea {
  width: 300px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

button {
  margin-right: 10px;
  margin-top: 10px;
  background: #70bb80;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

.keyboard {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.key {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  margin: 0 5px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.key.active {
  background-color: #4caf50;
  color: #fff;
}

textarea {
  width: 300px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  transition: border-color 0.3s;
}

textarea:focus {
  outline: none;
  border-color: #4caf50;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

.performance-metrics {
  margin-top: 20px;
  text-align: center;
}

.accuracy {
  font-size: 20px;
  margin-bottom: 10px;
}

.typing-speed {
  font-size: 16px;
}

.typing-area-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* .typing-area {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
  text-align: center;

} */

.typing-area {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}